.container {
    background-color: #040d21;
    min-height: 100vh;
}

.text-white {
    color: #fff;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix::after {
    display: block;
    content: "";
    overflow: hidden;
}